if heroImage
  append headscripts
    style.
      .hero {
        background: url('#{heroImage}') no-repeat center center;
        background-position: 0 54%;
      }

section#hero.hero
  .container
    .row(style="display: none;")
      .col-md-12.text-right.navicon
        a#nav-toggle.nav_slide_button(href='#')
          span
    .row
      .col-md-8.col-md-offset-2.text-center.inner
        div(style="background-color: white; padding: 10px;")
          h1.animated.fadeInDown
            | Nicoleta
            span Griciuc
          p.animated.fadeInUp.delay-05s(style="font-size: 21px;")
            | Specialist Marketing &amp; PR
    if cta
      .row
        .col-md-6.col-md-offset-3.text-center
          a.learn-more-btn(href='#features') !{cta}
