footer
  .container
    .row
      .col-md-12
        p
          | Marketingul nu inseamna magie, cu rezultate obtinute peste noapte si promisiuni desarte. 
          | Inseamna munca, pasiune, cunostinte bine aplicate si o gandire
          | strategica. Iar aceasta reteta complexa te va ajuta, cu rabdare, sa-ti dezvolti afacerea.
          | 
          em So...believe in marketing.
    .row
      .col-md-6
        ul.legals
          li &copy;2015 Toate drepturile rezervate
          li Nicoleta Griciuc
      .col-md-6.credit
        p
          | Designed by 
          a(href='http://www.peterfinlan.com/' target='_blank') 
            em Peter Finlan
          |  Development by
          a(href='https://github.com/v3rt1go' target='_blank')
            em  Alex Griciuc
