section.swag.text-center
  .container
    .row
      .col-md-8.col-md-offset-2
        h1
          strong Don't be afraid 
          | to get creative and experiment with your marketing
          span
            | Mike Volpe
            br
            em Chief Marketing Officer
            |  @ Hubspot
        a.down-arrow-btn(href='#portfolio')
          i.fa.fa-chevron-down
