article#contact.dark-bg.text-center.section-padding.contact-wrap
  article
  a.up-btn(href='#top')
    i.fa.fa-chevron-up
  .container
    .row
      .col-md-12
        h1.arrow Hai sa ne cunoastem!
    //-.row.contact-details
      //-.col-md-12
        //-form(action='#' method="POST")
          //-.row(style="padding: 10px;")
            //-.col-md-6(style="text-align: right;")
              //-input(type='text', name='name', placeholder='Nume', required='')
            //-.col-md-6(style="text-align: left;")
              //-input(type='email', name='email', placeholder='E-mail sau telefon', required='')
          //-.row(style="padding: 10px;")
            //-.col-md-12
              //-textarea(name='messsage', placeholder='Mesaj', required='')
              //-br
              //-input(type='submit', name='', value='TRIMITE')
    .row
      .col-md-12
        ul.social-buttons
          li
            a.social-btn(href='https://www.facebook.com/profile.php?id=100002098958643' target='_blank')
              i.fa.fa-facebook
          li
            a.social-btn(href='https://twitter.com/GriciucNicoleta' target='_blank')
              i.fa.fa-twitter
          li
            a.social-btn(href='https://www.linkedin.com/profile/view?id=AAMAAA5l2ssBkquLbjCN3OyzuNeKIKvSOPsZji0&trk=hp-identity-photo' target='_blank')
              i.fa.fa-linkedin
