article#contact.dark-bg.text-center.section-padding.contact-wrap
  article
  a.up-btn(href='#top')
    i.fa.fa-chevron-up
  .container
    .row
      .col-md-12
        h1.arrow Hai sa ne cunoastem!
    .row
      .col-md-12
        ul.social-buttons
          li
            a.social-btn(href='https://www.facebook.com/webwireagency/?ref=hl' target='_blank')
              i.fa.fa-facebook
          li
            a.social-btn(href='https://twitter.com/WebWireAgency' target='_blank')
              i.fa.fa-twitter
          li
            a.social-btn(href='https://www.linkedin.com/profile/view?id=AAMAAA5l2ssBkquLbjCN3OyzuNeKIKvSOPsZji0&trk=hp-identity-photo' target='_blank')
              i.fa.fa-linkedin
