.ignite-cta.text-center
  .container
    .row
      .col-md-12
          a.ignite-btn(href='#portfolio').
            De ce noi? Pentru ca punem la bataie toate cunostintele, suntem dedicati clientilor nostri, iar impreuna crestem idei si business-uri.
