.ignite-cta.text-center
  .container
    .row
      .col-md-12
        h2(style="color: white;") Partenerii Nostri
        p
          a(href="http://www.paptot.ro" target="_blank")
            img(src='public/assets/img/parteneri/logo-paptot.jpg', alt='Revista Pap Tot' rel="nofollow")
    .row
      .col-md-12
          a.ignite-btn(href='#portfolio').
            De ce noi? Pentru ca punem la bataie toate cunostintele, suntem dedicati clientilor nostri, iar impreuna crestem idei si business-uri.

