.ignite-cta.text-center
  .container
    .row
      .col-md-12
          a.ignite-btn(href='#portfolio').
            De ce o persoana si nu o agentie? Pentru ca ma poti considera un membru 
            al echipei tale, pentru ca ma integrez usor si impreuna crestem idei si business-uri.
