section#features.features.text-center.section-padding
  .container
    .row
      .col-md-12
        h1.arrow IUBESC CEEA CE FAC SI, DE ACEEA, O FAC BINE
        .features-wrapper
          .col-md-4.wp2
            .icon
              i.fa.fa-link.shadow
            h2 MARKETING ONLINE
            p
              | Este in momentul de fata cea mai eficienta metoda de comunicare
              | a valorii unui produs, serviciu sau a unui brand. Interactiv si dinamic, intr-o
              | continua expansiune, marketingul online pune la dispozitie tool-urile necesare
              | crearii unei imagini online puternice.
          .col-md-4.wp2.delay-05s
            .icon
              i.fa.fa-comment.shadow
            h2 PUBLIC RELATIONS
            p
              | Companiile trebuie sa mentina o relatie buna si dinamica cu
              | publicul dar si cu media. 
              | Un PR va sti intotdeauna care sunt cele mai bune instrumente de
              | comunicare, ce canale trebuie abordate, printr-o maniera directa sau indirecta,
              | astfel incat a creeze si sa mentina o imagine pozitiva a organizatiei pe care o
              | reprezinta.
          .col-md-4.wp2.delay-1s
            .icon
              i.fa.fa-pencil.shadow
            h2 COPYWRITING &amp; CONTENT MANAGEMENT
            p
              | Succesul in marketingul online depinde in mare parte de
              | continutul pe care il impartasesti audientei tale. De aceea, modul in care faci acest
              | lucru te poate ajuta sa iti faci businessul inteles de catre oricine.
          .clearfix
