section#portfolio.portfolio.text-center.section-padding
  .container
    .row
      #portfolioSlider
        ul.slides
          li
            .col-md-4.wp4
              .overlay-effect.effects.clearfix
                .img
                  img(src='public/assets/img/social-media.jpg', alt='Social Media')
              h2 SOCIAL MEDIA
              p.
                Vrei sa te stie lumea? Vrei sa ai like-uri pe Facebook,
                followeri pe Twitter si prieteni pe Linkedin...sau poate o
                prezenta dinamica pe Pinterest si Instagram? Solutia este o
                campanie bine gandita si aplicata.
            .col-md-4.wp4.delay-05s
              .overlay-effect.effects.clearfix
                .img
                  img(src='public/assets/img/email-marketing.jpg', alt='E-mail Marketing')
              h2 E-MAIL MARKETING
              p.
                Impreuna realizam si trimitem newslettere partenerilor si
                clientilor tai. Astfel, ajungi direct la persoanele relevante
                pentru business-ul tau. Dupa aceea, analizam impreuna
                rezultatele prin rapoarte speciale.
            .col-md-4.wp4.delay-05s
              .overlay-effect.effects.clearfix
                .img
                  img(src='public/assets/img/adwords1.jpg', alt='Paid advertising and seo')
              h2 PAID ADVERTISING &amp; SEO
              p
                | Fii mereu prezent in cautarile clientilor tai! Investind chiar
                | si o suma mica de bani in diverse cuvinte cheie, cele mai relevante
                | pentru afacerea ta, anuntul tau va fi primul. Fie ca optezi pentru
                | o campanie de search, display sau remarketing, cu Google Adwords iti
                | atingi audienta dorita, cu un mesaj potrivit, atunci cand doresti tu.
          li
            .col-md-4.wp4
              .overlay-effect.effects.clearfix
                .img
                  img(src='public/assets/img/copywrite.jpg', alt='Copywrite si Content Management')
              h2 COPYWRITING &amp; CONTENT MANAGEMENT
              p.
                Nu-ti gasesti cuvintele potrivite pentru a atrage mai multi
                clienti? Fie ca este vorba despre textele pe site, texte
                publicitare, articole pe blog, te ajut sa te exprimi liber si sa
                te faci inteles.
            .col-md-4.wp4.delay-1s
              .overlay-effect.effects.clearfix
                .img
                  img(src='public/assets/img/strategy.jpg', alt='Audit website si strategie')
              h2 WEBSITE AUDIT &amp; STRATEGY
              p.
                Nu esti foarte sigur ca site-ul tau este exact ceea ce trebuie?
                In urma unui audit, poti afla ce anume ii lipseste, ce are in
                plus si cum poti schimba. Te ajut sa-l optimizezi!
            .col-md-4.wp4.delay-1s
              .overlay-effect.effects.clearfix
                .img
                  img(src='public/assets/img/graphic.jpg', alt='Portfolio Item')
              h2 GRAPHIC DESIGN
              p
                | Se spune ca o imagine face cat o mie de cuvinte si este perfect 
                | adevarat. De aceea, fie ca vorbim despre crearea unei identitati
                | vizuale (logo, sigla etc), un manual de identitate, brosuri,
                | roll-up-uri si nu numai, toate sunt extrem de importante.
