section.subscribe.text-center
  // TODO: De gasit of forma potrivita pt box-urile de contact
  .container
    .row.contact-details
      .col-md-4
        .light-box.box-hover
          h2
            i.fa.fa-share-alt
            span Social
          ul.social-buttons
            li
              a.social-btn(href='https://www.facebook.com/webwireagency/?ref=hl' target='_blank')
                i.fa.fa-facebook
            li
              a.social-btn(href='https://twitter.com/WebWireAgency' target='_blank')
                i.fa.fa-twitter
            li
              a.social-btn(href='https://www.linkedin.com/profile/view?id=AAMAAA5l2ssBkquLbjCN3OyzuNeKIKvSOPsZji0&trk=hp-identity-photo' target='_blank')
                i.fa.fa-linkedin
          //-form(action='#')
            //-input(type='text', name='', value='', placeholder='E-mail', required='')
            //-input(type='submit', name='', value='ABONARE')
      .col-md-4
        .light-box.box-hover
          h2
            i.fa.fa-mobile
            span Telefon
          p +40748 203 227
      .col-md-4
        .light-box.box-hover
          h2
            i.fa.fa-envelope
            span Email
          p
            a(href='mailto:office@webwire.ro') office@webwire.ro.com
