section#team.team.text-center.section-padding
  .container
    .row
      .col-md-12
        h1.arrow Experienta mea de pana acum
    .row
      .team-wrapper
        #teamSlider
          ul.slides
            li
              .col-md-4.wp5
                img(src='public/assets/img/team-01.png', alt='Team Member')
                h2 NICOLETA GRICIUC
                p
                  a.btn.btn-success(href="public/CV_Griciuc_Nicoleta_ro.pdf" target="_blank") Descarca CV-ul meu
                //-.social
                  //-ul.social-buttons
                    //-li
                      //-a.social-btn(href='#')
                        //-i.fa.fa-facebook
                    //-li
                      //-a.social-btn(href='#')
                        //-i.fa.fa-twitter
                    //-li
                      //-a.social-btn(href='#')
                        //-i.fa.fa-linkedin
              .col-md-8.wp5.delay-05s(style="height: 470px; overflow: auto;")
                p(style="text-align: left;")
                  strong 2015 - prezent
                p(style="text-align: left;") Specialist Marketing - Clinica Respiro Dental
                p(style="text-align: left;")
                  strong 2014 - 2015
                p(style="text-align: left;") Specialist Marketing - Homeycomb.ro
                p(style="text-align: left;")
                  strong 2013 - 2014
                p(style="text-align: left;") Copywriter - Homeycomb.ro
                p(style="text-align: left;")
                  strong 2008 - 2013
                p(style="text-align: left;") Editor imagine - Adevarul Holding S.R.L.
                p(style="text-align: left;")
                  strong 2009 - 2011
                p(style="text-align: left;") Traducator si Redactor Colaborator - Curtea Veche Publishing S.R.L.
                p(style="text-align: left;")
                  strong 2007 - 2008
                p(style="text-align: left;") Redactor si traducator ERC Press S.R.L.
                p(style="text-align: left;")
                  strong 2008 - 2010
                p(style="text-align: left;") Masterat - SNSPA - Scoala Nationala de Studii Politice si Administrative - Comunicare Audio Video
                p(style="text-align: left;")
                  strong 2003 - 2008
                p(style="text-align: left;") Facultate / Colegiu - SNSPA- Scoala Nationala de Studii Politice si Administrative

