section#intro.intro.text-center.section-padding
  .container
    .row
      .col-md-8.col-md-offset-2.wp1
        h1.arrow Cred in…
        p … importanta campaniilor si a strategiilor bine definite de marketing si PR.
        | Pentru fiecare client in parte, acestea reprezinta un prilej in plus pentru a castiga 
        | notorietate, a intari imaginea companiei, a cuceri publicuri si consumatori noi.
